name: Build ShadowJar

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build shadowJar
        run: ./gradlew shadowJar

      - name: Upload shadowJar artifact
        uses: actions/upload-artifact@v4
        with:
          path: build/libs/*.jar
